.green {
  background-color: #2eba6b;
}

.red {
  background-color: #db2b2b;
}

.white {
  background-color: #ffffff;
}

.matchesTableContainer {
  >span:first-child {
    margin-left: 1rem;

    +div {
      margin-left: 1rem;
      color: blue;
      text-decoration: underline;
      text-underline-offset: 0.7rem;
      cursor: pointer;
    }
  }

  table {
    width: 100%;
    margin-top: 1rem;

    td {
      padding: 1rem 0.5rem;
    }
  }
}